*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerHeader{
    background-color: #B40431;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 200px;
}
.containerHeader strong{
    color: #fff;
    font-size: 25px;
}
.containerHeader a{
    text-decoration: none;
    color: #B40431;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    transition: .1s;
} 
.containerHeader a:hover{
    opacity: .7;
} 